* {
    --img-height: 280px;
}

html, body {
    background-color: #F0EDE5;
    font-family: Open Sans, Arial;
    color: #454545;
    font-size: 16px;
    margin: 2em auto;
    max-width: 100%;
    padding: 1em;
    text-align: justify;
}

h4 {
    text-align: center;
    font-size: 1.1em;
    color: #333;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

h5 {
    text-align: center;
    font-size: 0.9em;
    color: #888;
    padding: 0;
    margin: 0.5rem;
    font-weight: 400;
    line-height: 1.3rem;
}

.furBox {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 16px 0;
    float: left;
    margin: 10px;
    background-color: #f9f9f9;
    position: relative;
    box-sizing: border-box;
    max-width: 210px;
    height: calc(var(--img-height) + 9rem);
    width: 33%;
    animation: smooth 1.5s backwards;
    animation-delay: 0.40s;
}

.infoBox {
    padding-bottom: 0.5rem;
}

.imgBox {
    display: block;
    height: var(--img-height);
    overflow: hidden;
}

.imgBox img {
    object-fit: cover;
    width: 100%;
    height: var(--img-height);
}

.searchresults {
    margin: 1rem;
    background-color: #f9f9f9;
}
