* {
    --site-background: #E5EDF4;
    --furbox-background: #F9F9F9;
    --site-text-colour: #333;
    --site-subtext-colour: #888;
    --site-font-size: 16px;
    --img-height: 280px;
    --shopbannerimg-height: 50px;
    --gaps: 10px;
    --textborder: rgba(0,0,0,0.5);
    --rainbowbox: linear-gradient(to right, #EC6A69,#F0994F,#CCAB13,#9ABA28,#59C36A,#00C6B7,#36B9F1,#78A9FF,#C89CE4,#DF6D9D,#EC6A69);
    --whitegraph-bordercol: #CCC;
    --colour-swatch-size-outer: 36px;
    --colour-swatch-size-inner: 32px;
}

/*form table {
    border: 1px solid black;
}
form table td {
    border: 1px solid red;
}*/

idiv {
    display: inline-block;
}

html {
    background: var(--site-background);
    font-family: Open Sans, Arial;
    color: var(--site-text-colour);
    font-size: var(--site-font-size);
    text-align: justify;
}

header {
    display: block;
/*     height: 74px; */
    width: calc(100% - 2em);
    padding: 0 1em 0 1em;
}

bannerimage {
    display: inline-block;
    width: 272px;
    height: 74px;
    background: no-repeat center/auto 90% url("header.png");
}

panelnavwrapper {
    display: inline-block;
    text-align: center;
    min-width: 300px;
    width: calc(min(450px, 100% - 2em));
    height: 74px;
}

contents {
    margin: 1em;
    display: block;
}

overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

code {
    font-family: monospace;
    padding: 2px 4px;
    font-size: 96%;
    color: #C7254E;
    background-color: #FFF;
    border: 1px solid #C7254E40;
    border-radius: 4px;
    display: inline;
}

codeblock {
    font-family: monospace;
    font-size: 96%;
    display: block;
    border: 1px solid #78A9FF;
    border-radius: 4px;
    background: #FAFCFF;
    padding: 0;
    font-size: 90%;
    padding: 0.5em 1em;
}

.tagdoctable {
    border: 1px solid #78A9FF;
    border-radius: 4px;
    background: #FAFCFF;
    padding: 0;
    font-size: 90%;
    border-spacing: 0;
}

.tagdoctable tr:nth-child(even) {
    background: #B7C7F33C;
}

.tagdoctable tr td {
    padding: 0.14em 0.6em;
}

.underline_on_hover:hover {
    text-decoration: underline;
}

.tagdoc1 {
    font-family: monospace;
    font-weight: 600;
    color: #111;
    text-align: right;
    border-right: 2px solid #90ABF6AA;
}

table.stat {
    width: 100%;
}

.tableFormLabel {
    text-align: right;
    padding-right: 0.5em;
}

.tableChartLabel {
    text-align: right;
    padding-right: 0.33em;
    width: 1px; /* this is a hack; the label must always contain non-breakables! (e.g. &nbsp;) */
    border-right: 1px solid #AAA;
}

.tableDataNumber {
    font-weight:bold;
    padding-left: 0.33em;
    text-align: right;
    font-size: 90%;
    width: 1px; /* this is a hack; the label must always contain non-breakables! (e.g. &nbsp;) */
}

.stackDataNumber {
    font-weight: bold;
    padding-left: 0.5em;
    display: inline;
    font-size: 90%;
    display: table-cell;
    color: var(--site-subtext-colour);
    width: 1px; /* this is a hack; the label must always contain non-breakables! (e.g. &nbsp;) */
}

.tableBarChartArea {
    padding-left: 0.5em;
}

.tableBarChart {
    display: inline-block;
    padding: 0;
    background: #454545;
}

.tableBarChartWhite {
    display: inline-block;
    padding: 0;
    background: #FFF;
    border: 1px solid var(--whitegraph-bordercol);
    box-sizing: border-box;
}

tablebarchartstack {
    display: block;
    margin: 3px 0 3px 0;
    padding: 0;
    background: #f00;
    font-size: 90%;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    float: left;
}

tablebarchartstack.dark {
    color: var(--furbox-background);
}

tablebarchartstack.light {
    color: var(--site-text-colour);
}

tablebarchartstack.superlight {
    color: var(--site-text-colour);
    box-sizing: border-box;
    border-top: 1px solid var(--whitegraph-bordercol);
    border-bottom: 1px solid var(--whitegraph-bordercol);
}

stacklabel {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    float: left;
/*     font-size: ${fontSize}px; */
/*     padding: ${padding}px 0 ${padding}px 0 */
}

a {
    color: var(--site-subtext-colour);
}

infobox h4, parbox h4 {
    text-align: center;
    font-size: 1.1em;
    color: #333;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

infobox h5, parbox h5 {
    text-align: center;
    font-size: 0.9em;
    color: var(--site-subtext-colour);
    padding: 0;
    margin: 0.5rem;
    font-weight: 400;
    line-height: 1.3rem;
}

floatbox {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin: 10px 20px;
    padding: 0.5ex 1em;
    background-color: var(--furbox-background);
    box-sizing: border-box;
}

.rainbowbox {
    background-image: var(--rainbowbox);
}


/* BEGIN OF COLOURCHOOSER */

colourchooser {
    display: block;
    line-height: var(--colour-swatch-size-outer);
}

/* The container */
colourchooser .container {
    display: inline-block;
    position: relative;
    padding-left: var(--colour-swatch-size-outer);
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.swatch {
    height: var(--colour-swatch-size-inner);
    width: var(--colour-swatch-size-inner);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 0 0 8px 0;
}

.swatch_black_sclera {
    background: no-repeat center/66% url(swatch_black_sclera.png) #333;
}

.swatch_shaped_pupil {
    background: no-repeat center/55% url(swatch_shaped_pupil.png) #F9F9F9;
}

/* Hide the browser's default checkbox */
colourchooser .container input {
    display: none;
    /*position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;*/
}

/* Create a custom checkbox */
colourchooser .checkmark {
    position: absolute;
    top: 0;
    left: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
colourchooser .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
colourchooser .container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
colourchooser .container .checkmark:after {
    left: 12px;
    top: 8px;
    width: 5px;
    height: 10px;
    border: solid var(--furbox-background);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

colourchooser .container .checkmark[luminosity=light]:after {
    border: solid var(--site-text-colour);
    border-width: 0 3px 3px 0;
}

/* END OF COLOURCHOOSER */


/* BEGIN OF FURBOX */

furbox {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 16px 0;
    display: block;
    float: left;
    margin: 10px;
    background-color: var(--furbox-background);
    position: relative;
    box-sizing: border-box;
    max-width: 210px;
    width: 210px;
    height: calc(var(--img-height) + 9rem);
    max-height: calc(var(--img-height) + 9rem);
    animation: smooth 1.5s backwards;
    animation-delay: 0.40s;
}

furbox infobox {
    display: block;
    padding: 0.5rem;
}

furbox imgbox {
    display: block;
    height: var(--img-height);
    overflow: hidden;
}

furbox imgbox img {
    object-fit: cover;
    width: 100%;
    height: var(--img-height);
}

infobox h4[class=name_en] { 
    display:inline; margin: 0 0.18em;
}
infobox h4[class=name_ko] {
    display:inline; margin: 0 0.18em;
}
infobox h4[class=name_ja] {
    display:inline; margin: 0 0.18em;
}
infobox h4[class=name_unknown] {
    display:inline; margin: 0 0.18em;
}

/* END OF FURBOX */


/* BEGIN OF WORSHOPBOX */

workshopbox {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    float: left;
    margin: 10px;
    background-color: var(--furbox-background);
    position: relative;
    box-sizing: border-box;
    width: calc(50% - 2*var(--gaps));
    animation: smooth 1.5s backwards;
    animation-delay: 0.40s;
    min-width: 240px;
}

@media (min-width: 1308px) {
    workshopbox {
        width: calc(33% - 2 * var(--gaps));
    }
}

@media (max-width: 880px) {
    workshopbox {
        width: calc(100% - var(--gaps));
    }
}

workshopbox > .imgBox {
    display: block;
    margin: 8px 10px 0 10px;
    width: calc(100% - 20px);
    height: var(--shopbannerimg-height);
    
/*     border: 1px solid red; */
}

workshopbox > .imgBox img {
    display: inline;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

workshopbox > .infoBox {
    margin: 10pt 0 10pt 0;
    text-align: center;
/*     border: 1px solid black; */
}

workshopbox > .infoBox > shopname {
    display: inline;
    line-height: 14pt;
    font-size: 14pt;
    font-weight: 700;
    color: var(--site-text-colour);
    margin: auto 0.5em;
}

workshopbox > .infoBox > shopinfo {
    display: inline;
    line-height: 14pt;
    font-size: 12pt;
    color: var(--site-text-colour);
    margin: auto 0.5em;
}

workshopbox > .infoBox > shopinfo > a {
    color: var(--site-text-colour);
}

/* END OF WORKSHOPBOX */


/* BEGIN OF SEARCHRESULTS */

dummycentre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

bigfurbox {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.35);
    border-radius: 0 0 16px 0;
    background-color: var(--furbox-background);
    box-sizing: border-box;
    height: calc(min(720px,80vh));
    width: calc((4/3) * min(720px,80vh));
    animation: smooth 1.5s backwards;
    animation-delay: 0.40s;
    padding: var(--gaps);
    overflow: auto;
}

bigfurbox imgbox {
    flex: 1 1 50%;
    width: 50%;
    height: 100%;
    min-width: 260px;
}

bigfurbox imgbox img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

bigfurbox parbox {
    flex: 1 1 50%;
    width: 50%;
    height: 100%;
    min-width: 260px;
}

bigfurbox h4 {
    margin: 1ex;
}

refsheetflexwrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
}

refselem1 {
    display: flex;
    width: 100%;
    flex: 0 1 auto;
    justify-content:center;
    margin-bottom: calc(0.5 * var(--gaps));
}

refselem1 table {
    min-width: 330px;
}

refselem1 td {
    line-height: 133%;
}

.refsElem2 {
    display: flex;
    width: 100%;
    height: inherit;
    min-height: 200px;
    flex: 1 1 auto;
    object-fit: contain;
}

bigfurbox copying {
    display: block;
    position: relative;
    top: -17pt;
    font-size: 10pt;
    font-weight: 700;
    color: var(--furbox-background);
    text-shadow: -1px 1px 0 var(--textborder),
        1px 1px 0 var(--textborder),
        1px -1px 0 var(--textborder),
        -1px -1px 0 var(--textborder);
    text-align: center;
}

bigfurbox copying::before {
    content: "© ";
}

/* END OF SEARCHRESULTS */


/* BEGIN OF STATS */

.transparent_panel {
    margin: 10px;
    padding: 0 20px 10px 20px;
    border-radius: 0 0 16px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: var(--furbox-background);
}

.chart_container {
    padding: 0.1px 20px 20px 20px;
    border-radius: 0 0 16px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background: rgba(251,251,252,0.94); /* will make the chartbox coloured to be #FAFAFA */
    height: calc(100% - 2 * var(--gaps));
}

.chart_bgimg {
    margin: 10px;
    background: no-repeat center/80% url("header.png");
}

.flex_halfcol {
    flex: 50%;
}

.flex_thirdcol {
    flex: 33.333%;
}


div#colour_scheme thead h5 {
    color: var(--site-text-colour);
    font-weight: 700;
    font-size: 100%;
    margin: 2pt;
}


/* END OF STATS */




ul.sub_menu {
    list-style-type: none;
    padding: 0;
}

li.columngap > a {
    text-decoration: none;
}

.sub_content {
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0 3vw;
    scrollbar-width: thin;
}

.sub_content::-webkit-scrollbar {
    height: 16px;
}

.sub_content::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 16px;
    background-clip: padding-box;
    border: 4px solid transparent;
}

.sub_content::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 16px;
    background-clip: padding-box;
    border: 4px solid transparent;
}

.sub_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-count: 7;
    margin: 0;
    height: 75px;
    padding: 0;
}

.columngap {
    margin: 0 24px;
}

.sub_link {
    display: inline-block;
    font-size: 1rem;
    height: 24px;
    color: #111111;
    transition: all 200ms;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.sub_link:hover {
    transition: all 100ms;
    border-bottom: 1px solid #111111
}

.selected {
    border-bottom: 1px solid #111111;
}

.accordion>input[name=collapse] {
    display:none
}
.accordion label, .accordion .accordion_inner {
/*     max-width:620px; */
    margin:0 auto
}
.accordion .accordion_inner {
/*     background:#fff; */
    overflow:hidden;
    height:0;
    transition:.5s;
}
.accordion>input[name=collapse]:checked~.accordion_inner {
    height:auto;
    transition:height .5s
}
/*@media only screen and (min-width:620px) {
    .accordion>input[name=collapse]:checked~.accordion_inner {
        height:220px
    }
}*/
.accordion {
    margin-bottom:1em
}
.accordion>input[name=collapse]:checked~.accordion_inner {
    border-top:0;
    transition:.3s
}
.accordion .handle {
    margin:10px 0 10px 0;
    font-size:16px
}
.accordion > h3 > label {
/*     display:block */
    color:var(--site-text-colour);
    cursor:pointer;
    font-weight: bold;
    font-size: 18px;
/*     font-weight:400; */
/*     padding:10px; */
/*     background:#b0100c; */
    user-select:none
}
.accordion .handle label:before {
    content:"\25bc";
    display:inline-block;
    margin-right:10px;
    font-size:1em;
    line-height:1.556em;
    vertical-align:middle;
    transition:.4s
}
.accordion>input[name=collapse]:checked~.handle label:before {
    transform:rotate(180deg);
    transform-origin:center;
    transition:.4s
}
.accordion p:last-child {
    margin-bottom:0
}

/* BEGIN OF FOOTER STYLING */

footer {
    clear: both;
    text-align: center;
    display: block; 
    width: 100%;  
    padding: .5em 0;
    margin-top: 5em;
}
mailat, maildot {
    margin: 0 0.1em;
}
mailat::after { content: "@"; }
maildot::after { content: "."; }
footer p.p1{
    font-size: .7em;
    padding-top: 1em;
    font-weight: 700;
}
footer p.p2{
    font-size: .8em;
    padding-bottom: 1em;
    font-weight: 900;
}
footer a{
    color: unset;
}

/* END OF FOOTER STYLING */



/* LO, CUSTOM CSS BE BELOW THIS LINE! */

