* {
    --img-height: 280px;
    --shopbannerimg-height: 50px;
    --gaps: 10px;
    --textborder: rgba(0,0,0,0.5);
}

thoushaltnotobservestthisblock {
    display: none;
}

idiv {
    display: inline-block;
}

html {
    background-color: #E5EDF4;
    font-family: Open Sans, Arial;
    color: #444;
    font-size: 16px;
    text-align: justify;
    z-index: 10;
}

header {
    display: block;
/*     height: 74px; */
    width: calc(100% - 2em);
    padding: 0 1em 0 1em;
}

bannerimage {
    display: inline-block;
    width: 272px;
    height: 74px;
    background: no-repeat center/auto 90% url("header.png");
}

panelnavwrapper {
    display: inline-block;
    text-align: center;
    min-width: 300px;
    width: calc(min(450px, 100% - 2em));
    height: 74px;
}

contents {
    margin: 0 1em 0 1em;
    display: block;
}

overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

dropdown {
  position: relative;
  display: inline-block;
}

dropdown > content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

dropdown:hover > content {
  display: block;
}

table.stat {
    width: 100%;
}

.tableFormLabel {
    text-align: right;
    padding-right: 0.5em;
}

.tableChartLabel {
    text-align: right;
    padding-right: 0.33em;
    width: 1px; /* this is a hack; the label must always contain non-breakables! (e.g. &nbsp;) */
    border-right: 1px solid #AAA;
}

.tableDataNumber {
    font-weight:bold;
    padding-left: 0.33em;
    text-align: right;
    font-size: 90%;
    width: 1px; /* this is a hack; the label must always contain non-breakables! (e.g. &nbsp;) */
}

.stackDataNumber {
    font-weight: bold;
    padding-left: 0.5em;
    display: inline;
    font-size: 90%;
    display: table-cell;
    color: #888;
}

.tableBarChartArea {
    padding-left: 0.5em;
}

.tableBarChart {
    display: inline-block;
    padding: 0;
    background: #444
}

tablebarchartstack {
    display: block;
    margin: 3px 0 3px 0;
    padding: 0;
    background: #f00;
    font-size: 90%;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    float: left;
}

tablebarchartstack.light {
    color: #F9F9F9;
}

tablebarchartstack.dark {
    color: #444;
}

tablebarchartstack:hover {
    text-decoration: underline;
    text-decoration-width: 2px;
}

stacklabel {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    float: left;
/*     font-size: ${fontSize}px; */
/*     padding: ${padding}px 0 ${padding}px 0 */
}

a {
    color: #888;
}

h4 {
    text-align: center;
    font-size: 1.1em;
    color: #333;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

h5 {
    text-align: center;
    font-size: 0.9em;
    color: #888;
    padding: 0;
    margin: 0.5rem;
    font-weight: 400;
    line-height: 1.3rem;
}

/* BEGIN OF FURBOX */

furbox {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 16px 0;
    display: block;
    float: left;
    margin: 10px;
    background-color: #f9f9f9;
    position: relative;
    box-sizing: border-box;
    max-width: 210px;
    width: 210px;
    height: calc(var(--img-height) + 9rem);
    max-height: calc(var(--img-height) + 9rem);
    animation: smooth 1.5s backwards;
    animation-delay: 0.40s;
}

furbox infobox {
    display: block;
    padding: 0.5rem;
}

furbox imgbox {
    display: block;
    height: var(--img-height);
    overflow: hidden;
}

furbox imgbox img {
    object-fit: cover;
    width: 100%;
    height: var(--img-height);
}

/* END OF FURBOX */


/* BEGIN OF WORSHOPBOX */

workshopbox {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    float: left;
    margin: 10px;
    background-color: #f9f9f9;
    position: relative;
    box-sizing: border-box;
    width: calc(50% - 2*var(--gaps));
    animation: smooth 1.5s backwards;
    animation-delay: 0.40s;
    min-width: 240px;
}

@media (min-width: 1308px) {
    workshopbox {
        width: calc(33% - 2 * var(--gaps));
    }
}

@media (max-width: 880px) {
    workshopbox {
        width: calc(100% - var(--gaps));
    }
}

workshopbox > .imgBox {
    display: block;
    margin: 8px 10px 0 10px;
    width: calc(100% - 20px);
    height: var(--shopbannerimg-height);
    
/*     border: 1px solid red; */
}

workshopbox > .imgBox img {
    display: inline;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

workshopbox > .infoBox {
    margin: 10pt 0 10pt 0;
    text-align: center;
/*     border: 1px solid black; */
}

workshopbox > .infoBox > shopname {
    display: inline;
    line-height: 14pt;
    font-size: 14pt;
    font-weight: 700;
    color: #444;
    margin: auto 0.5em;
}

workshopbox > .infoBox > shopinfo {
    display: inline;
    line-height: 14pt;
    font-size: 12pt;
    color: #444;
    margin: auto 0.5em;
}

workshopbox > .infoBox > shopinfo > a {
    color: #444;
}

/* END OF WORKSHOPBOX */


/* BEGIN OF SEARCHRESULTS */

dummycentre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

bigfurbox {
    display: block;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.35);
    border-radius: 0 0 16px 0;
    background-color: #f9f9f9;
    box-sizing: border-box;
    width: calc(min(900px,80vw));
    height: 600px;
    animation: smooth 1.5s backwards;
    animation-delay: 0.40s;
    padding: var(--gaps);
}

bigfurbox imgbox {
    display: block;
    float: left;
    width: calc(50% - var(--gaps)/2);
    height: 100%;
}

bigfurbox imgbox img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

bigfurbox parbox {
    float: right;
    width: calc(50% - 0.5 * var(--gaps));
    height: 100%
}

refsheetflexwrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
}

refselem1 {
    display: flex;
    width: 100%;
    flex: 0 1 auto;
    justify-content:center;
    margin-bottom: calc(0.5 * var(--gaps));
}

refselem1 table {
    min-width: 330px;
}

.refsElem2 {
    display: flex;
    width: 100%;
    height: inherit;
    flex: 1 1 auto;
    object-fit: contain;
}

bigfurbox copying {
    display: block;
    position: relative;
    top: -17pt;
    font-size: 10pt;
    font-weight: 700;
    color: #F9F9F9;
    text-shadow: -1px 1px 0 var(--textborder),
        1px 1px 0 var(--textborder),
        1px -1px 0 var(--textborder),
        -1px -1px 0 var(--textborder);
    text-align: center;
}

/* END OF SEARCHRESULTS */


/* BEGIN OF STATS */

.transparent_panel {
    margin: 10px;
    padding: 0 20px 10px 20px;
    border-radius: 0 0 16px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: #f9f9f9;
}

.chart_container {
    height: calc(100% - 20px);
    padding: 0.1px 20px 20px 20px;
    border-radius: 0 0 16px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background: rgba(251,251,252,0.94); /* will make the chartbox coloured to be #FAFAFA */
}

.chart_bgimg {
    margin: 10px;
    background: no-repeat center/80% url("header.png");
}

/* END OF STATS */




ul.sub_menu {
    list-style-type: none;
    padding: 0;
}

li.columngap > a {
    text-decoration: none;
}

.sub_content {
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0 3vw;
    scrollbar-width: thin;
}

.sub_content::-webkit-scrollbar {
    height: 16px;
}

.sub_content::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 16px;
    background-clip: padding-box;
    border: 4px solid transparent;
}

.sub_content::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 16px;
    background-clip: padding-box;
    border: 4px solid transparent;
}

.sub_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-count: 7;
    margin: 0;
    height: 75px;
    padding: 0;
}

.columngap {
    margin: 0 24px;
}

.sub_link {
    display: inline-block;
    font-size: 1rem;
    height: 24px;
    color: #111111;
    transition: all 200ms;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.sub_link:hover {
    transition: all 100ms;
    border-bottom: 1px solid #111111
}

.selected {
    border-bottom: 1px solid #111111;
}

.accordion>input[name=collapse] {
    display:none
}
.accordion label, .accordion .content {
/*     max-width:620px; */
    margin:0 auto
}
.accordion .content {
/*     background:#fff; */
    overflow:hidden;
    height:0;
    transition:.5s;
}
.accordion>input[name=collapse]:checked~.content {
    height:auto;
    transition:height .5s
}
/*@media only screen and (min-width:620px) {
    .accordion>input[name=collapse]:checked~.content {
        height:220px
    }
}*/
.accordion {
    margin-bottom:1em
}
.accordion>input[name=collapse]:checked~.content {
    border-top:0;
    transition:.3s
}
.accordion .handle {
    margin:10px 0 10px 0;
    font-size:16px
}
.accordion label {
/*     display:block */
    color:#444;
    cursor:pointer;
    font-weight: bold;
    font-size: 18px;
/*     font-weight:400; */
/*     padding:10px; */
/*     background:#b0100c; */
    user-select:none
}
.accordion .handle label:before {
    content:"\25bc";
    display:inline-block;
    margin-right:10px;
    font-size:1em;
    line-height:1.556em;
    vertical-align:middle;
    transition:.4s
}
.accordion>input[name=collapse]:checked~.handle label:before {
    transform:rotate(180deg);
    transform-origin:center;
    transition:.4s
}
.accordion p:last-child {
    margin-bottom:0
}
